body {
	font-family: 'RobotoDraft', sans-serif;
}

.navigation ul {
	padding: 0;
	margin: 0;
}

.navigation li {
	list-style: none;
}

.navigation li a {
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding: 15px 0 15px 22px;
	color: #333;
}

.navigation > ul > li > a {
	font-weight: 700;
}

.categories {
	background-color: #F7F7F9;
}

.categories > .active > a {
	background-color: #E3E3E3;
}

.properties .active {
	background-color: #EBEBEB;
}

section {
	padding: 12px 24px 24px;
	background-color: #F7F7F9;
	margin-bottom: 24px;
}

.leading {
	background-color: #EBEBEB;
}

.properties a {
	margin-left: 24px;
}

.build li, ul.categories {
	margin-top: 12px;
}

.build a {

}



.snippet kbd {
	background-color: #272F32;
}

.snippet-key {
	color: #9DBDC6;
}

.snippet-value {
	color: #FF3D2E;
}

.alert-input {
	margin-top: 20px;
}