body {
	font-family: 'RobotoDraft', sans-serif;
}

.navigation, .navigation ul {
	padding: 0;
	margin: 0;
}

.navigation li {
	list-style: none;
}

.navigation > li {
	margin-bottom: 24px;
}

.navigation li a {
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding: 15px 0 15px 22px;
	color: #333;
}

.navigation > li > a {
	font-weight: 700;
}

.categories li {
	background-color: #F7F7F9;
}

.categories > .active {
	background-color: #E3E3E3;
}

.properties .active {
	background-color: #EBEBEB;
}

section {
	padding: 12px 24px 24px;
	background-color: #F7F7F9;
	margin-bottom: 24px;
}

.leading {
	background-color: #f2f2f2;
}

.categories > li > a {
	font-weight: bold;
	margin-left: 24px;
}

.properties li {
	background-color: #f2f2f2;
}

.properties a {
	margin-left: 42px;
}

.build li, {
	margin-top: 12px;
}

.build a {

}



.snippet kbd {
	background-color: #272F32;
}

.snippet-key {
	color: #9DBDC6;
}

.snippet-value {
	color: #FF3D2E;
}

.alert-input {
	margin-top: 20px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.properties {
	overflow: hidden;
}

.animate-show.ng-hide {
	height: 0;
}

.properties-length-1 {
	height: 48px;
}

.properties-length-2 {
	height: 96px;
}

.properties-length-3 {
	height: 144px;
}

.properties-length-4 {
	height: 192px;
}

.build-item {
	margin: 6px 0;
}

.build-item button {
	margin-left: 6px;
	visibility: hidden;
}

.build-item:hover button {
	visibility: visible;
}