<div class="input-group">
	<select class="form-control" ng-options="option as option.label for option in property.input.options track by option.value" ng-model="selected">
		<option value="" disabled>{{preset[0].label || "Please Select " + property.title}}</option>
	</select>
	<span class="input-group-btn">
		<button ng-click="setProperty(property.parameter, selected.value, property.input.restrict)" class="btn btn-default" ng-class="{ 'btn-success': success, 'btn-danger': attempted && !success }" type="button">Save</button>
		<button ng-click="resetProperty(property.parameter)" class="btn btn-default" type="button">Reset</button>
	</span>
</div>
<alert ng-show="error" type="{{error.type}}" close="closeAlert($index)">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<strong>{{error.msg}}</strong>
</alert>