<div class="input-group">
	<input type="text" class="form-control" ng-model="property.value" placeholder="{{property.input.placeholder}}">
	<span buttons class="input-group-btn"></span>
</div>

<div class="alert alert-dismissable alert-danger" role="alert" ng-show="error">
    <button type="button" class="close" ng-click="error = null">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<strong>Error: </strong>{{error.message}}
</div>