<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Self Serve</title>
</head>
<body ng-app="selfServe">

	<div ng-controller="MainCtrl">
		<ul ng-repeat="category in categories">
			<li><a href="#/{{category.parameter}}">{{category.title}}</a>
				<ul ng-repeat="property in category.properties">
					<li><a href="#/{{category.parameter}}/{{property.parameter}}">{{property.title}}</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<ng-view></ng-view>

	<script src="library/angular/angular.js"></script>
	<script src="library/angular-route/angular-route.js"></script>
	<script src="library/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="js/app/services.js"></script>
	<script src="js/app/directives.js"></script>
	<script src="js/app/controllers.js"></script>
	<script src="js/app/app.js"></script>
</body>
</html>