<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Self Serve</title>
	<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">
</head>
<body ng-app="selfServe">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="img/ice-cream.jpg" alt="">
				<h1><strong>Soft Serve</strong></h1>
				<kbd>Self serve software</kbd>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="navigation" ng-controller="MainCtrl">
					<ul class="start">
						<li class="alert-info"><a class="alert-link" href="#/start">Start</a></li>
					</ul>
					<ul class="categories" ng-repeat="category in categories">
						<li ng-class="{'active': active.category == category.parameter}"><a category-title category="category.parameter" active="active.category"></a>
							<ul class="properties">
								<li ng-class="{'active': active.property == property.parameter}" ng-repeat="property in category.properties">
									<a href="#/{{category.parameter}}/{{property.parameter}}">{{property.title}}</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="build">
						<li class="alert-success"><a class="alert-link" href="#/build">Build</a></li>
						<li class="alert-danger"><a class="alert-link" href="#/reset">Reset</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<ng-view></ng-view>
			</div>
		</div>
	</div>

	<script src="library/angular/angular.js"></script>
	<script src="library/angular-route/angular-route.js"></script>
	<script src="library/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="js/app/services.js"></script>
	<script src="js/app/directives.js"></script>
	<script src="js/app/controllers.js"></script>
	<script src="js/app/filters.js"></script>
	<script src="js/app/app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>