<section>
	<h3>{{property.title}}</h3>
	<p ng-bind-html="property.description | unsafe"></p>
	<div ng-controller="inputCtrl" ng-include="'templates/inputs/' + property.input.type + '.html'" property="property"></div>
	<hr>
	<div class="snippet">
		<h4>Url parameter.</h4>
		<p>The parameter takes the following form in the url.</p>
		<span snippet key="property.snippet.key" value="property.snippet.value"></span>
	</div>
	<div ng-if="property.images.length >= 1">
		<hr>
		<div images="property.images"></div>
	</div>
</section>