<section class="leading">
	<h1>Welcome</h1>
	<p class="lead">
		This will assist in creating a custom search engine for your site.
	</p>
</section>
<section class="card" ng-repeat="property in base">
	<h3>{{property.title}}</h3>
	<p>{{property.description}}</p>
	<div ng-controller="inputCtrl" ng-include="'templates/property/inputs/' + property.input.type + '.html'" property="property"></div>
</section>

<div ng-show="hasAffiliateCode" class="alert alert-success">
	<strong><span class="glyphicon glyphicon-thumbs-up"></span> Great</strong>, you can customise your options on the left, or go straight to generate your iframe.
</div>