body {
	font-family: 'Roboto', sans-serif;
	background-color: #FBFBFB;
    margin-top: 64px;
}

.navigation, .navigation ul {
	padding: 0;
	margin: 0;
}

.navigation li {
	list-style: none;
}

.navigation a {
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding: 15px 0 15px 15px;
	color: #333;
    -webkit-transition: box-shadow 125ms;
    -moz-transition: box-shadow 125ms;
    -ms-transition: box-shadow 125ms;
    -o-transition: box-shadow 125ms;
    transition: box-shadow 125ms;
}

.card {
	padding: 12px 24px 24px;
	background-color: #FFF;
	margin-bottom: 24px;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card .card {
    background-color: rgba(0, 0, 0, 0.018);
}

.navigation a {
    border-radius: 40px 0 0 40px;
}

.nav-categories > li > a {
	margin-left: 24px;
}

.nav-properties a {
	margin-left: 48px;
}

.build li {
	margin-top: 12px;
}

.snippet kbd {
	background-color: #272F32;
}

.snippet-key {
	color: #2f6f9f;
}

.snippet-value {
	color: #d44950;
}

.alert-input {
	margin-top: 20px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.nav-properties {
	overflow: hidden;
}

.animate-show.ng-hide {
	height: 0;
}

.nav-properties-length-1 {
	height: 48px;
}

.nav-properties-length-2 {
	height: 96px;
}

.nav-properties-length-3 {
	height: 144px;
}

.nav-properties-length-4 {
	height: 192px;
}

.build-item {
	margin: 6px 0;
}

.build-item button {
	margin-left: 6px;
	visibility: hidden;
}

.build-item:hover button {
	visibility: visible;
}

.side-nav {
    z-index: 3;
    height: 100%;
    font-size: 13px;
    padding: 12px 0 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    background: #FFF;
    border-right: 1px solid #E0E0E0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: (),-webkit-transform;
    -moz-transition-property: (),-moz-transform;
    transition-property: (),transform;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    -moz-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.side-nav-inner {
    min-height: 100%;
    position: relative;
    padding-bottom: 160px;
}

.navigation a:focus {
    box-shadow: inset -4px 0 0 #2980B9;
    background-color: #3498DB;
    font-weight: 700;
    color: #fff;
}

.lightbox.card {
    display: block;
    color: #333;
    -webkit-transition: box-shadow 125ms;
    -moz-transition: box-shadow 125ms;
    -ms-transition: box-shadow 125ms;
    -o-transition: box-shadow 125ms;
    transition: box-shadow 125ms;
}

.lightbox:hover {
    text-decoration: none;
}

.lightbox.card:hover,
.lightbox.card:focus {
    outline: 0;
    box-shadow: 0 4px 12px 1px rgba(0, 0, 0, 0.26);
}

.lightbox .caption {
    margin-top: 24px;
}

.property-title {
    cursor: pointer;
    display: block;
}

.property-title:hover {
    color: #2980B9;
}

.modal-body img {
    margin: 0 auto;
}



.nav-start a {
    box-shadow: inset -4px 0 0 #286090;
}

.nav-start a:hover {
    box-shadow: inset -8px 0 0 #286090;
}

.nav-start a:focus {
    box-shadow: inset -8px 0 0 #286090;
    background-color: #337AB7;
}



.nav-customise a {
    box-shadow: inset -4px 0 0 #449D44;
}

.nav-customise a:hover {
    box-shadow: inset -8px 0 0 #449D44;
}

.nav-customise a:focus {
    box-shadow: inset -8px 0 0 #449D44;
    background-color: #5CB85C;
}



.nav-build a {
    box-shadow: inset -4px 0 0 #31B0D5;
}

.nav-build a:hover {
    box-shadow: inset -8px 0 0 #31B0D5;
}

.nav-build a:focus {
    box-shadow: inset -8px 0 0 #31B0D5;
    background-color: #5BC0DE;
}



.nav-reset a {
    box-shadow: inset -4px 0 0 #C9302C;
}

.nav-reset a:hover {
    box-shadow: inset -8px 0 0 #C9302C;
}

.nav-reset a:focus {
    box-shadow: inset -8px 0 0 #C9302C;
    background-color: #D9534F;
}

.nav-category.active {
    background-color: #C6E6C6;
}

.nav-category.active ul {
    background-color: #E3F3E3;
}