.side-nav {
	z-index: 3;
	height: 100%;
	font-size: 13px;
	padding: 12px 0 10px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 240px;
	background: #FFF;
	border-right: 1px solid #E0E0E0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	transition-delay: .1s;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: (),-webkit-transform;
	-moz-transition-property: (),-moz-transform;
	transition-property: (),transform;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.side-nav-inner {
	height: 100%;
	position: relative;
}

nav ul, nav li {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
}

nav a {
	display: block;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: .1px;
	white-space: nowrap;
	line-height: 48px;
	color: #333;
	padding-left: 24px;
}

nav a:hover,
nav a:active,
nav a:focus {
	color: #333;
	text-decoration: none;
}

nav > ul > li > a {
	font-weight: 700;
}

nav li.active, nav a:focus {
	color: #489AE3;
	font-weight: 700;
}

.categories li a {
	padding-left: 36px;
}

.categories ul li a {
	padding-left: 48px;
}

.categories > .active {
	background: #F9F9F9
}

.categories > .active > a {
	font-weight: 700;
}

.categories .active .active {
	background: #eee
}

/*@media screen and (max-width: 1429px) {
	.side-nav {
		visibility: hidden;
		-webkit-transform: translateX(-241px);
		-moz-transform: translateX(-241px);
		-ms-transform: translateX(-241px);
		-o-transform: translateX(-241px);
		transform: translateX(-241px);
	}
	.side-nav-visible {
		visibility: visible;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.header-bar .section-wrapper {
		width: auto;
		padding-left: 68px;
	}
	.hamburger-icon {
		display: block;
	}
	header, section {
		padding-left: 0;
	}
}*/