<section class="leading">
	<h2>Welcome</h2>
</section>

<section>
	<h2>Affiliate code</h2>
	<p>Please being by supplying your given affiliate code.</p>

	<div class="input-group">
		<input type="text" class="form-control" ng-model="affiliateCode" placeholder="Affiliate code">
		<span class="input-group-btn">
			<button ng-click="setProperty('affiliateCode', affiliateCode)" class="btn btn-default" type="button">Save</button>
			<button ng-click="resetProperty('affiliateCode')" class="btn btn-default" type="button">Reset</button>
		</span>
	</div>
</section>