<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Self Serve</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- library:css -->
		<link rel="stylesheet" href="library/angular-bootstrap-colorpicker/css/colorpicker.min.css">
	<!-- endinject -->
	<!-- app:css -->
		<link rel="stylesheet" href="css/base.css">
	<!-- endinject -->
</head>
<body ng-app="selfServe">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<ul class="navigation" ng-controller="navigationCtrl">
					<li class="alert-info"><a class="alert-link" href="#/start">Start</a></li>
					<li ng-if="started" class="alert-warning"><a href="#/customise" class="alert-link">Customise</a>
						<ul class="categories" categories></ul>
					</li>
					<li ng-if="started" class="alert-success"><a class="alert-link" href="#/build">Build</a></li>
					<li class="alert-danger"><a class="alert-link" href="#/reset">Reset</a></li>
				</ul>
			</div>
			<div class="col-md-8">
				<ng-view></ng-view>
			</div>
		</div>
	</div>

	<!-- library:js -->
		<script src="library/angular/angular.js"></script>
		<script src="library/angular-route/angular-route.js"></script>
		<script src="library/angular-animate/angular-animate.js"></script>
		<script src="library/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="library/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
	<!-- endinject -->
	<!-- app:js -->
		<script src="js/app/services.js"></script>
		<script src="js/app/directives.js"></script>
		<script src="js/app/controllers.js"></script>
		<script src="js/app/filters.js"></script>
		<script src="js/app/templates.js"></script>
		<script src="js/app/ui-bootstrap.js"></script>
		<script src="js/app/app.js"></script>
	<!-- endinject -->
</body>
</html>